KOLABI_POSTGRES_DB=kolabi
KOLABI_POSTGRES_USER=kolabi
KOLABI_POSTGRES_PASSWORD=kolabi
KOLABI_POSTGRES_PORT=15433

KOLABI_PG=postgresql+psycopg://${KOLABI_POSTGRES_USER}:${KOLABI_POSTGRES_PASSWORD}@127.0.0.1:${KOLABI_POSTGRES_PORT}
KOLABI_MARKET_DB_URL=${KOLABI_PG}/kolabi_market
KOLABI_ACCOUNT_DB_URL=${KOLABI_PG}/kolabi_account
KOLABI_CRITICAL_DB_URL=${KOLABI_PG}/kolabi_critical
KOLABI_AUDIT_DB_URL=${KOLABI_PG}/kolabi_audit
KOLABI_TELEMETRY_DB_URL=${KOLABI_PG}/kolabi_telemetry
KOLABI_ADVERS_ACCOUNT_DB_URL=${KOLABI_PG}/kolabi_account_advers
KOLABI_ADVERS_CRITICAL_DB_URL=${KOLABI_PG}/kolabi_critical_advers
KOLABI_ADVERS_AUDIT_DB_URL=${KOLABI_PG}/kolabi_audit_advers
KOLABI_ADVERS_TELEMETRY_DB_URL=${KOLABI_PG}/kolabi_telemetry_advers
